#about {
    margin-top: 10em;
}

#community-members {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 5em 0 5em 0;
    h2 {
        padding-bottom: 1.5em;
    }
}