#power-rating {
    background-color: $background-color-1;
    color: $font-color-1;
    padding-bottom: 5em;
    margin: 10em auto;
    hr {
        margin-left: 1.5em;
        opacity: .5;
        width: 70vw;
    }
}

.power-title {
    font-size: 1.7em;
    padding: 1em 0 0 1em;
}
.power-description {
    font-size: 1.35em;
    max-width: 18em;
    padding: .3em 0 0 1.2em;
}
.power-list {
    padding: 1em 0 0 5em;
}
.power-list-component {
    font-size: 1.3em;
    max-width: 15em;
    padding-bottom: .5em;
}

@media screen and (min-width: 1080px) {
    #power-rating {
        width: 80vw;
    }
    .power-description {
        min-width: 1em;
    }
    .power-list-component {
        min-width: 1em;
    }
}