$background-color-1: #ffffff;
$background-color-2: #111;
$background-color-3: #313131;
$background-color-4: #1d4eaf;

$font-color-1: #262626;
$font-color-2: #ffffff;
$font-color-3: #1d4eaf;
$font-color-5: #ff0000;