@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #111;
  color: #ffffff;
  font-family: "Roboto", Arial, sans-serif;
}
body footer {
  padding-bottom: 3em;
}

.on {
  display: flex !important;
}

.off {
  display: none !important;
}

.title {
  font-size: 2.5em;
  font-weight: 600;
  padding-top: 1em;
  text-align: center;
}

.paragraph {
  font-size: 1.5em;
  margin: 0.1em auto;
  text-align: center;
  width: 80%;
}

.paragraph-footer {
  font-size: 1em;
  margin: auto;
  text-align: center;
}

.no-scroll {
  overflow-y: hidden !important;
}

@keyframes appear {
  0% {
    opacity: 0.5;
    transform: translateX(1000px);
  }
  100% {
    opacity: 1;
  }
}
#navbar {
  background-color: #ffffff;
  box-shadow: 5px 3px 1px 1px rgba(0, 0, 0, 0.036);
  display: flex;
  height: 5em;
  margin-top: -10em;
  position: fixed;
  width: 100vw;
  z-index: 1;
}
#navbar .logo {
  align-items: center;
  color: #ff0000;
  display: flex;
  font-family: "Bangers", sans-serif;
  font-size: 2em;
  padding-left: 0.7em;
  text-decoration: none;
}
#navbar .navlist {
  align-items: center;
  animation: appear 0.4s linear;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  margin: 8vh auto;
  position: absolute;
  height: 85vh;
  width: 100vw;
}
#navbar .navlist .component-navlist {
  padding: 1em;
}
#navbar .navlist .component-navlist .link-component-navlist {
  color: #262626;
  font-size: 1.6em;
  font-weight: 500;
  text-decoration: none;
}
#navbar .navlist .component-navlist .link-component-navlist:hover {
  text-decoration: underline;
  opacity: 0.6;
}
#navbar .mobile-menu-icon {
  position: absolute;
  margin: 1.5em auto auto 90vw;
}

#logo {
  margin: 1em auto;
  width: 11em;
}

#button-open-menu {
  background: none;
  border: none;
  cursor: pointer;
}
#button-open-menu .image-open-menu {
  width: 2.4em;
}

#button-close-menu {
  background: none;
  border: none;
  cursor: pointer;
}
#button-close-menu .image-close-menu {
  width: 2.4em;
}

@media screen and (min-width: 1080px) {
  #button-open-menu {
    display: none;
  }
  #logo {
    align-items: center;
    width: 9em;
  }
  #navbar {
    height: 5em;
    position: fixed;
    width: 100vw;
  }
  #navbar .navlist {
    align-items: center;
    animation: none;
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    margin: auto 20vw auto auto;
    position: relative;
    max-height: 9vh;
    width: 100%;
  }
  #navbar .navlist .component-navlist {
    padding: 1em;
  }
  #navbar .navlist .component-navlist .link-component-navlist {
    font-size: 1em;
    font-weight: 600;
    text-decoration: none;
  }
}
#galery {
  margin-top: 10em;
}
#galery .card {
  align-items: center;
  background-color: #111;
  border-radius: 1em;
  border: 1px solid #ffffff;
  display: flex;
  flex-direction: column;
  font-family: "Bangers", sans-serif;
  height: 30em;
  justify-content: end;
  margin-bottom: 5em;
  width: 20em;
}
#galery .card:hover {
  transform: scale(1.03);
  transition: 0.4s ease;
}
#galery .card:hover .info {
  display: flex;
}
#galery .card .card-img {
  max-height: 200px;
  max-width: 200px;
}
#galery .card .card-body {
  height: 15em;
}
#galery .card .card-body .card-title {
  font-size: 2em;
  padding: 0.3em 0 0 0.5em;
}
#galery .card .card-body .card-text {
  padding: 1em 0 1em 1em;
  text-align: start;
}
#galery .card .card-body .card-link {
  align-items: center;
  background-color: #1d4eaf;
  color: #ffffff;
  display: flex;
  height: 3em;
  justify-content: center;
  margin: auto;
  text-decoration: none;
  width: 80%;
}
#galery .card .card-body .card-link:hover {
  background-color: #ffffff;
  color: #1d4eaf;
  transition: 0.4s ease;
}
#galery .card .info {
  align-items: center;
  background-color: #313131;
  border-radius: 1em;
  display: none;
  flex-direction: column;
  height: 30em;
  justify-content: center;
  position: absolute;
  width: 80vw;
}
#galery .card .info .info-title {
  font-size: 1.5em;
  padding-bottom: 1em;
  text-align: center;
}
#galery .card .info .character {
  display: flex;
  flex-direction: row;
}
#galery .card .info .character .status {
  display: flex;
  flex-direction: column;
}
#galery .card .info .character .status .status-text {
  font-size: 1em;
  padding-bottom: 1em;
  text-align: center;
}
#galery .card .info .character .img-info {
  max-height: 200px;
  max-width: 250px;
}
#galery .card .info .info-link {
  align-items: center;
  background-color: #1d4eaf;
  color: #ffffff;
  display: flex;
  height: 3em;
  justify-content: center;
  margin: 0;
  text-decoration: none;
  width: 20em;
}
#galery .card .info .info-link:hover {
  background-color: #ffffff;
  color: #1d4eaf;
  transition: 0.4s ease;
}

#container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media screen and (min-width: 1080px) {
  #galery .card {
    width: 25em;
  }
  #galery .card .info {
    align-items: center;
    height: 30em;
    justify-content: center;
    margin: auto auto auto 0;
    position: absolute;
    width: 30em;
  }
  #galery .card .info .info-title {
    font-size: 2em;
    text-align: center;
  }
  #galery .card .info .character .status .status-text {
    font-size: 1.2em;
  }
  #galery .card .info .character .img-info {
    max-height: 300px;
    max-width: 300px;
  }
}
#power-rating {
  background-color: #ffffff;
  color: #262626;
  padding-bottom: 5em;
  margin: 10em auto;
}
#power-rating hr {
  margin-left: 1.5em;
  opacity: 0.5;
  width: 70vw;
}

.power-title {
  font-size: 1.7em;
  padding: 1em 0 0 1em;
}

.power-description {
  font-size: 1.35em;
  max-width: 18em;
  padding: 0.3em 0 0 1.2em;
}

.power-list {
  padding: 1em 0 0 5em;
}

.power-list-component {
  font-size: 1.3em;
  max-width: 15em;
  padding-bottom: 0.5em;
}

@media screen and (min-width: 1080px) {
  #power-rating {
    width: 80vw;
  }
  .power-description {
    min-width: 1em;
  }
  .power-list-component {
    min-width: 1em;
  }
}
#about {
  margin-top: 10em;
}
#about .title {
  font-size: 2em;
}
#about .paragraph {
  text-align: center;
  width: 90%;
}

#community-members {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 5em 0 5em 0;
  text-align: center;
}
#community-members h2 {
  max-width: 80%;
  padding-bottom: 1.5em;
}

@media screen and (min-width: 1080px) {
  #about .title {
    font-size: 2.5em;
  }
  #about .paragraph {
    width: 80%;
  }
}/*# sourceMappingURL=style.css.map */